@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .input {
    @apply w-full p-3 font-semibold placeholder-black transition-all duration-500 bg-white rounded shadow-2xl outline-none;
  }
  .btn {
    @apply w-full px-6 py-2 font-semibold text-white transition-all duration-500 bg-red-600 hover:bg-red-700 active:bg-red-500;
  }
  .icon {
    @apply w-7 h-7;
  }
}

.shadow-3xl {
  -webkit-box-shadow: 0px 6px 8px -3px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 0px 6px 8px -3px rgba(0, 0, 0, 0.64);
  box-shadow: 0px 6px 8px -3px rgba(0, 0, 0, 0.64);
}

.documentation {
  background-image: url("./Assets/images/curved-images/white-curved.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background: rgb(168, 168, 168);
  border-radius: 10px;
}
.detail-second-content {
  background-image: url(./Assets/images/ivancik.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
